$green: #158467;
$back: #f5f1da;
$mediaSM: 390px;

@mixin mediumCard {
  width: 250px;
  height: 270px;
  padding: 10px 15px;
  border: 0;
  background-color: white;
  text-align: center;
  &:hover {
    box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.2);
  }
}

@mixin smallCard {
  width: 170px;
  height: 240px;
  padding: 5px 10px;
  border: 0;
  background-color: white;
  text-align: center;
  &:hover {
    box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.2);
  }
}

@mixin gridSM {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
